/*STYLE SECTION ENCART SUR PHOTO*/

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}


/*STYLE IMAGE*/

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px; 
    height: 100px;
    margin: 0 auto; 
    margin-top: 2em;
}

.rounded-image img {
    width: 100%;
    height: auto;
}

.bg-custom{
    background:#b6daef;
    border-radius: 20%;
    padding: 10px;
}
