/*STYLE SECTION ENCART SUR PHOTO*/

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}


/*STYLE IMAGE*/

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px; 
    height: 100px;
    margin: 0 auto; 
    margin-top: 2em;
}

.rounded-image img {
    width: 100%;
    height: auto;
}

.bg-custom {
    background: repeating-linear-gradient(45deg, var(--color-four), var(--color-four) 20%, var(--color-first) 20%, var(--color-first) 40%);
    border-radius: 20%;
    padding: 10px;
}

