/* Réinitialisation des marges et des rembourrages pour tous les éléments */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --font-size: 1rem;
    /* CSS HEX */
    /*Barre de Navigation Hamburger (Fond)
    Fond du titre H1
    Section (Logo Dynamique) : #724B8F
    Fond de la section Dégradé de #724B8F à #4D8FB8
    Bordure des boutons 
    Couleur des chiffres
    Section (Photo Ronde) - Fond : #724B8F
    Couleur des champs de la newsletter 
    Couleur des icônes de réseaux sociaux*/
    --color-first:   #724B8F;
    /*Couleur du bouton d'inscription : Dégradé de #A57FB2 à #4D8FB8*/

    /*Icônes du menu burger
    Couleur des boutons
    Cadre de la photo ronde
    Couleur des liens de navigation (ou blanc)*/
    --color-second: #4D8FB8;

    /*Au survol des boutons
    Section Newsletter (Bouton d'inscription - Au survol)
    Footer (Liens de navigation - Au survol)
     */
    --color-three:  #A57FB2;
    /* Encart "Nous Sommes X Membres" (Fond) 
    Section Newsletter (Fond) 
    Footer (Fond)*/
    --color-four: #F4F4F4;

    /*Titres, texte sur les boutons,
    texte de présentation, 
    texte sur l'image, texte sur la photo ronde,
    texte de la newsletter
    Footer (Texte "Nous Suivre", "Copyright", "Statuts")*/
    --color-five: #FFFFFF
    
    
}

/* Reset */
h1{
    color:var(--color-first);
}
h2{
    color:var(--color-second);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    color: var(--color-three);
}

body {
    overflow-x: hidden; /* Désactive le défilement horizontal */
    background-color: var(--color-four);

}

input::placeholder {
    font-size: 1rem; 
    background-color: var(--color-four);
    text-align: center;
}

.footer h2, #missions h2, #membres h2 {
    color: var(--color-four); 
    text-shadow: 2px 2px 4px var(--color-first); 
    font-size: 1.5rem;
}

.bg-custom2 {
    background: #4d8fb8a7;
   
    padding: 20px; 
    color: var(--color-four); 
}

.important{
    font-weight: bold;
    color: var(--color-first);
}
/*Boostrap personnalisé*/
.card-text{
color: var(--color-three);
}
.form-control {
    background-color: var(--color-four);
}
.list-group-item{
    background-color: var(--color-four);
    color: var(--color-second);

}
  .card-perso{
    width: 18rem;
    background-color: var(--color-three);
  }
  .card-perso2{
    display: inline-flex;
    margin-left: 10px;
  }
  .btn-custom {
    background-color: var(--color-second);
    border-color: var(--color-three); 
    color: var(--color-four); 
}
.btn-custom:hover {
    background-color: var(--color-four);
    border-color:var(--color-second); 
    color:var(--color-three)
}


  .btn-custom2 {
    background: linear-gradient(to right, var(--color-three), var(--color-second));
    border-color: var(--color-second);
    color: var(--color-four); 
    transition: all 0.3s ease-in-out;
  }
  
  .btn-custom2:hover {
    background: linear-gradient(to right, var(--color-second), var(--color-first));
    border-color: var(--color-second);
    color: var(--color-four);
  }

  .btn-custom3 {
    background: var(--color-first);
    border-color: var(--color-second);
    color: var(--color-four);
    transition: all 0.3s ease-in-out;
  }
  
  .btn-custom3:hover {
    background: var(--color-four);
    border-color: var(--color-first);
    color:var(--color-first); 
  
  }




.newsletter-index {
    z-index: -1;
    padding-left: 5px;
}

.fadeInOnScroll {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
/******SLIDE******/
.carousel-inner {
    margin-top: 5px;
    height: 60vh; 
    z-index: -10;
}

/* Style image slide */
.carousel-item {
    height: 85%;
    background-position: 20% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Styles pour les flèches de navigation */
.carousel-control-prev,
.carousel-control-next {
    color: var(--color-three);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-item h2,
.carousel-item p,
.carousel-item  {
    text-shadow: 2px 2px 5px var(--color-second);
    color:var(--color-four);
   
}
  /* Styles pour les indicateurs (pagination) */

  .carousel-indicators li {
    background-color:var(--color-four); /* Couleur des cercles inactifs */

  }
  .carousel-indicators {
    border-radius: 30%;
    background-color:var(--color-three);
  }

   .carousel-indicators .active {
    background-color:var(--color-first);
    }
   
/***** Bouton de changement couleur et de remontée*****/
.badge {
    position: fixed;
    bottom: 15%;
    right: 0%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction:column;
    align-items: center;
    color: var(--color-four);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  .badge label{
    display: block;
    font-size: 100%;
    text-align: center;
}
.badge label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    text-align: center;
    font-weight: bolder;
    color: var(--color-four);
    z-index: 1;
}

#colorpicker {
    color: var(--color-four);
    border: 1px var(--color-second) solid;
    cursor: pointer;
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
  
}

#colorpicker::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%; 
}

#colorpicker::-webkit-color-swatch {
    border: 1px solid var(--color-second);
    border-radius: 50%; 
}

#backtotop {
    position: fixed;
    bottom: 5%;
    right: 0.5%;
    transform: translate(0, -50%);
    background-color: var(--color-second);
    color: var(--color-four); 
    border-radius: 50%; 
    padding: 10px;
    cursor: pointer;
  
}

#backtotop i {
    display: block;
    text-align: center;
    font-size: 10px;
}

/*****STYLE NAV MOBILE FIRST******/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-second);
    background: var(--color-first);
    background: linear-gradient(to top, var(--color-four) 0%, var(--color-first) 10%);
    height: 7.5em;
}


.navbar_link {
    padding: 0 10px;
    justify-self: center;
    flex-shrink: 0;
}

.burger {
    display: none;
}

.navbar_link > a::after, .navbar_link > a::before {
    display: block;
    width: 0;
    content: "";
    background: var(--color-four);
   
    height: 1px;
    transition: all .4s;
}

.navbar_link:hover > a::after, .navbar_link:hover > a::before {
    width: 100%;
}

/* Lien de la page courante */
.active {
    background-color: var(--color-three);
    border-radius: 20px;
    pointer-events: none;
    cursor: default;
}

.flux {
    margin-left: 0;
    margin-right: 0;
}

/* Navbar Burger Responsive */
.logo {
    width: auto;
    max-height: 100%;
    margin: 0 auto; 
    display: block;
   }

.navbar {
    height: 24vh;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 

}

.navbar_links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: 100vh;
    position: absolute;
    top: 8.5rem;
    right: 0;
    z-index: 99;
    background:  linear-gradient(to top, #8f68b2, #724b8f);
    box-shadow: 5px 4px 8px 5px var(--color-four);
    transform: translateX(110%);
    transition: all 0.3s ease-in-out;
}

.navbar_link:hover > a::after, .navbar_link:hover > a::before {
    width: 0%;
}

.open-nav .navbar_links {
    width: 100vw;
    transform: translateX(0);
}

.navbar_link {
    transform: translateX(110%);
    transition: all 0.3s ease-in-out;
}

.open-nav .navbar_link {
    transform: translateX(0);
}

.navbar_link > a {
    display: inline-block;
    padding: 0.4rem;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1.7rem;
    color: var(--color-second);
    transition: all 0.1s ease-in-out;
}

.navbar_link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
}

.navbar_link:last-child {
    margin-left: 0;
}

/* Toggle menu */
.burger {
    display: block;
    position: relative;
    padding: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 5px;
}

.bar {
    display: block;
    width: 90%;
    height: 4px;
    background:var(--color-four);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

.bar::before, .bar::after {
    content: "";
    width: 90%;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(--color-four);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

.bar::before {
    transform: translateY(-10px);
}

.bar::after {
    transform: translateY(10px);
}

.open-nav .bar {
    width: 0;
    background: transparent;
}

.open-nav .bar::before {
    transform: rotate(45deg);
}

.open-nav .bar::after {
    transform: rotate(-45deg);
}

/* Animation */
.open-nav .first {
    transition: all 1s ease-out;
}

.open-nav .second {
    transition: all 1.1s ease-out;
}

.open-nav .third {
    transition: all 1.2s ease-out;
}

.open-nav .four {
    transition: all 1.3s ease-out;
}


@media (min-width: 768px) {
    .open-nav .navbar_links {
        width: 25vw;
    }
  }
/* END STYLE NAV */

/*style index*/

.custom-bg{
    width: 100%;
    height:30rem;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    box-shadow: 2px var(--color-first);
}
.box{
    box-shadow:var(--color-second) 0px 5px 15px;
    background-color: var(--color-three);
 }

 .custom-bg .btn:hover {
    background-color: var(--color-first); 
    color: var(--color-four);
    font-weight: bolder;
    text-shadow: 0 0 5px var(--color-second);
    transition: background-color 0.4s ease; 
}

.card-custom {
    margin: 2rem auto;
    width: 350px;
  }
  
  .gradient-border {
   
    background-size: 8px 8px;
    border-radius: 16px;
    padding: 35px;
    background-image: linear-gradient(45deg,var(--color-second), var(--color-first));
    border-radius: 16px;
    padding: 10px;
  }


.content-wrapper {
  background: var(--color-four);
  border-radius: 8px;
  box-shadow: 0 0 15px var(--color-second);
  padding: 35px;
  text-align: center;
}
/*Style section pour degradé entre newsletter et footer*/

.hist{
    background: linear-gradient(to bottom, var(--color-three) 0%, var(--color-four) 80%);
}



/* Style CSS pour le footer */
footer{
    background: linear-gradient(to bottom, var(--color-four) 0%, var(--color-three) 5%);
}
.custom-link, footer p{
   color:var(--color-four)
}
.custom-link:hover, footer p:hover {
    color: var(--color-first);
}


/*Status*/

.status{
    border-radius: 25%;
    background-color: var(--color-four);
    border: var(--color-three);
    box-shadow: 15px var(--color-three);
}
.text-number{
    color: var(--color-first);
}
.status p{
    color: var(--color-second);
}