<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--Réferencement-->
    <meta name="robots" content="index,follow">
    <meta name="description" content="Association santé pour tous">
    <link rel="canonical" href="">
    <!--icone et titre-->
    <link rel="icon" href="/asset/images/favicon.ico" type="image/x-icon">
    <title>Contact - PRISMA</title>
    <!--Style-->
    <link rel="stylesheet" href="/css/mf.css">
</head>
<body>
    <!--Logo et barre nav-->
    <nav class="navbar" role="navigation">
      <img class="image_official logo" title="logo-asso"  alt="">
      <ul class="navbar_links">
          <li class="navbar_link first">
              <a href="../index.html" >Accueil</a>
          </li>
          <li class="navbar_link second">
              <a href="/views/mission.html" >Calendrier des missions</a>
          </li>
          <li class="navbar_link third">
              <a href="/views/apropos.html">Qui sommes-nous?</a>
          </li>
          <li class="navbar_link four">
              <a href="formulaire.html" class="active">Contact</a>
          </li>
          <li class="navbar_link fifth">
              <a href="">Mon compte</a>
            
          </li>
      </ul>
      <button class="burger">
          <span class="bar"></span>
      </button>
    </nav>

    <script src="/js/nav.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/color.js"></script>
</body>
</html>   