<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--Réferencement-->
    <meta name="robots" content="index,follow">
    <meta name="description" content="Association santé pour tous">
    <link rel="canonical" href="">
    <!--icone et titre-->
    <link rel="icon" href="/image/favicon-32x32.png" type="image/x-icon">
    <title>Missions -PRISMA</title>
    <!--Style-->
    <link rel="stylesheet" href="/css/mf.css">
    <link rel="stylesheet" href="/asset/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css">
    
    <script rel="stylesheet" href="/asset/bootstrap-5.3.0-alpha3-dist//js/jquery-3.7.0.min.js"></script>
    <script type="application/javascript" src="/asset/bootstrap-5.3.0-alpha3-dist//js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/609ebaf712.js" crossorigin="anonymous"></script>

    
  </head>
  <body>
<!--Logo et barre nav-->
<nav class="navbar" role="navigation">
  <img class="logo" title="logo-asso"  src="/image/logo-prisma.png" alt="">
  <ul class="navbar_links">
      <li class="navbar_link first">
          <a href="../index.html" >Accueil</a>
      </li>
      <li class="navbar_link second">
          <a href="mission.html" class="active">Calendrier des missions</a>
      </li>
      <li class="navbar_link third">
          <a href="/views/apropos.html">Qui sommes-nous?</a>
      </li>
      <li class="navbar_link four">
          <a href="/views/formulaire.html">Contact</a>
      </li>
      <li class="navbar_link fifth">
          <a href="">Mon compte</a>
      </li>
  </ul>
  <button class="burger">
      <span class="bar"></span>
  </button>
</nav>
<main class="container">
  <div class="row">
     <!-- Sidebar pour les écrans md et lg -->
     <div class="col-md-4">
        <div class="border d-md-flex flex-md-column mx-2 my-2">
          <h2 class="text-center">Filtrer</h2>
          <div id="categories" class="d-flex flex-column mb-2 ">
              <button class="btn btn-primary mb-1" data-category="product">Toute l'actualité</button>
              <button class="btn btn-primary mb-1" data-category="conférences">Conférences</button>
              <button class="btn btn-primary mb-1" data-category="event">Manifestations</button>
              <button class="btn btn-primary mb-1" data-category="archives">Archives</button>
          </div>
     </div>     
  </div>

      <div class="col-md-8">
          <!-- Articles  -->
        <div class="row">
          <article class="col-md-6 mb-4 card">
            <h2 class="text-center">Titre article 1</h2>
            <p class="text-muted">10/11/2023</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              eu odio non tortor laoreet ultrices non nec urna. Aenean eget erat
              pellentesque, euismod nisl ac, convallis lacus. Mauris ac est
              ante. Maecenas nec mauris vehicula, lacinia ipsum at, eleifend
              nibh. Vivamus pharetra, ex ac bibendum hendrerit, odio ex
              venenatis mauris, quis tempus ante leo id leo. Curabitur molestie
              massa eget lectus dignissim, sit amet malesuada tellus dapibus.
              Nulla facilisi. Etiam quis pretium purus. Nullam vehicula euismod
              nisl, vel egestas magna euismod ac. Mauris porttitor eget quam sed
              viverra. Nullam sollicitudin, odio ut varius interdum, quam arcu
              rutrum ligula, vitae suscipit lacus elit at ligula. Quisque
              maximus vitae magna sed pulvinar. Quisque non tortor convallis,
              hendrerit quam ac, sodales turpis. Ut tempus imperdiet ligula
              lobortis pharetra. Nullam id purus vel odio eleifend hendrerit.
            </p>
          </article>
          <article class="col-md-6 mb-4 card">
            <h2>Titre article 2</h2>
            <p class="text-muted">25/12/2025</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              eu odio non tortor laoreet ultrices non nec urna. Aenean eget erat
              pellentesque, euismod nisl ac, convallis lacus. Mauris ac est
              ante. Maecenas nec mauris vehicula, lacinia ipsum at, eleifend
              nibh. Vivamus pharetra, ex ac bibendum hendrerit, odio ex
              venenatis mauris, quis tempus ante leo id leo. Curabitur molestie
              massa eget lectus dignissim, sit amet malesuada tellus dapibus.
              Nulla facilisi. Etiam quis pretium purus. Nullam vehicula euismod
              nisl, vel egestas magna euismod ac. Mauris porttitor eget quam sed
              viverra. Nullam sollicitudin, odio ut varius interdum, quam arcu
              rutrum ligula, vitae suscipit lacus elit at ligula. Quisque
              maximus vitae magna sed pulvinar. Quisque non tortor convallis,
              hendrerit quam ac, sodales turpis. Ut tempus imperdiet ligula
              lobortis pharetra. Nullam id purus vel odio eleifend hendrerit.
            </p>
          </article>
          <article class="col-md-6 mb-4 card">
            <h2>Titre article 3</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              eu odio non tortor laoreet ultrices non nec urna. Aenean eget erat
              pellentesque, euismod nisl ac, convallis lacus. Mauris ac est
              ante. Maecenas nec mauris vehicula, lacinia ipsum at, eleifend
              nibh. Vivamus pharetra, ex ac bibendum hendrerit, odio ex
              venenatis mauris, quis tempus ante leo id leo. Curabitur molestie
              massa eget lectus dignissim, sit amet malesuada tellus dapibus.
              Nulla facilisi. Etiam quis pretium purus. Nullam vehicula euismod
              nisl, vel egestas magna euismod ac. Mauris porttitor eget quam sed
              viverra. Nullam sollicitudin, odio ut varius interdum, quam arcu
              rutrum ligula, vitae suscipit lacus elit at ligula. Quisque
              maximus vitae magna sed pulvinar. Quisque non tortor convallis,
              hendrerit quam ac, sodales turpis. Ut tempus imperdiet ligula
              lobortis pharetra. Nullam id purus vel odio eleifend hendrerit.
            </p>
          </article>
          <article class="col-md-6 mb-4 card">
            <h2>Titre article 4</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              eu odio non tortor laoreet ultrices non nec urna. Aenean eget erat
              pellentesque, euismod nisl ac, convallis lacus. Mauris ac est
              ante. Maecenas nec mauris vehicula, lacinia ipsum at, eleifend
              nibh. Vivamus pharetra, ex ac bibendum hendrerit, odio ex
              venenatis mauris, quis tempus ante leo id leo. Curabitur molestie
              massa eget lectus dignissim, sit amet malesuada tellus dapibus.
              Nulla facilisi. Etiam quis pretium purus. Nullam vehicula euismod
              nisl, vel egestas magna euismod ac. Mauris porttitor eget quam sed
              viverra. Nullam sollicitudin, odio ut varius interdum, quam arcu
              rutrum ligula, vitae suscipit lacus elit at ligula. Quisque
              maximus vitae magna sed pulvinar. Quisque non tortor convallis,
              hendrerit quam ac, sodales turpis. Ut tempus imperdiet ligula
              lobortis pharetra. Nullam id purus vel odio eleifend hendrerit.
            </p>
          </article>
          <article class="col-md-6 mb-4 card">
            <h2>Titre article 5</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              eu odio non tortor laoreet ultrices non nec urna. Aenean eget erat
              pellentesque, euismod nisl ac, convallis lacus. Mauris ac est
              ante. Maecenas nec mauris vehicula, lacinia ipsum at, eleifend
              nibh. Vivamus pharetra, ex ac bibendum hendrerit, odio ex
              venenatis mauris, quis tempus ante leo id leo. Curabitur molestie
              massa eget lectus dignissim, sit amet malesuada tellus dapibus.
              Nulla facilisi. Etiam quis pretium purus. Nullam vehicula euismod
              nisl, vel egestas magna euismod ac. Mauris porttitor eget quam sed
              viverra. Nullam sollicitudin, odio ut varius interdum, quam arcu
              rutrum ligula, vitae suscipit lacus elit at ligula. Quisque
              maximus vitae magna sed pulvinar. Quisque non tortor convallis,
              hendrerit quam ac, sodales turpis. Ut tempus imperdiet ligula
              lobortis pharetra. Nullam id purus vel odio eleifend hendrerit.
            </p>
          </article>
          <article class="col-md-6 mb-4 card">
            <h2>Titre article 6</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              eu odio non tortor laoreet ultrices non nec urna. Aenean eget erat
              pellentesque, euismod nisl ac, convallis lacus. Mauris ac est
              ante. Maecenas nec mauris vehicula, lacinia ipsum at, eleifend
              nibh. Vivamus pharetra, ex ac bibendum hendrerit, odio ex
              venenatis mauris, quis tempus ante leo id leo. Curabitur molestie
              massa eget lectus dignissim, sit amet malesuada tellus dapibus.
              Nulla facilisi. Etiam quis pretium purus. Nullam vehicula euismod
              nisl, vel egestas magna euismod ac. Mauris porttitor eget quam sed
              viverra. Nullam sollicitudin, odio ut varius interdum, quam arcu
              rutrum ligula, vitae suscipit lacus elit at ligula. Quisque
              maximus vitae magna sed pulvinar. Quisque non tortor convallis,
              hendrerit quam ac, sodales turpis. Ut tempus imperdiet ligula
              lobortis pharetra. Nullam id purus vel odio eleifend hendrerit.
            </p>
          </article>
          <article class="col-md-6 mb-4 card">
            <h2>Titre article 7</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              eu odio non tortor laoreet ultrices non nec urna. Aenean eget erat
              pellentesque, euismod nisl ac, convallis lacus. Mauris ac est
              ante. Maecenas nec mauris vehicula, lacinia ipsum at, eleifend
              nibh. Vivamus pharetra, ex ac bibendum hendrerit, odio ex
              venenatis mauris, quis tempus ante leo id leo. Curabitur molestie
              massa eget lectus dignissim, sit amet malesuada tellus dapibus.
              Nulla facilisi. Etiam quis pretium purus. Nullam vehicula euismod
              nisl, vel egestas magna euismod ac. Mauris porttitor eget quam sed
              viverra. Nullam sollicitudin, odio ut varius interdum, quam arcu
              rutrum ligula, vitae suscipit lacus elit at ligula. Quisque
              maximus vitae magna sed pulvinar. Quisque non tortor convallis,
              hendrerit quam ac, sodales turpis. Ut tempus imperdiet ligula
              lobortis pharetra. Nullam id purus vel odio eleifend hendrerit.
            </p>
          </article>
        </div>          
      </div>
  </div>
</main>


     <div id="sidebar" class="column">
          <h2>Filtrer</h2>
      <div id="cate" class="row">
        <button data-category="product">Toute l'actualité</button>
        <button data-category="conférences">Conférences</button>
        <button data-category="event">Manifestations</button>
        <button data-category="archives">Archives</button>
      </div>
     </div>
  
 
    
    <section>
   
      
    </section>
<!-- Boutons Fixes defilement et color -->
<div class="badge">
  <label for="colorpicker" class="circle">C</label>
  <input id="colorpicker" type="color" value="#5992c7" />
</div>
<button id="backtotop"  class="circle" title="Vers le haut de page">
  <i class="fa fa-arrow-up"></i>
</button>
<!--FOOTER-->
<footer class="footer mt-2 text-white text-center">
  <div class="container-fluid p-4">
      <div class="row">
          <!-- Liens utiles (colonne de gauche) -->
          <div class="col-md-6">
              <section class="mb-4">
                  <h2 class="text-uppercase">Liens Utiles</h2>
                  <ul class="d-flex flex-column mb-0">
                      <li class="me-3">
                          <a href="../index.html" class="btn btn-link text-white">Accueil</a>
                      </li>
                      <li class="me-3">
                          <a href="/views/mission.html" class="btn btn-link text-white">Calendrier des missions</a>
                      </li>
                      <li class="me-3">
                          <a href="/views/apropos.html" class="btn btn-link text-white">Qui sommes-nous?</a>
                      </li>
                      <li class="me-3">
                          <a href="/views/formulaire.html" class="btn btn-link text-white">Contact</a>
                      </li>
                      <li class="me-3">
                          <a href="#" class="btn btn-link text-white">Mon compte</a>
                      </li>
                  </ul>
              </section>
          </div>
          
          <!-- Suivez-nous (colonne de droite) -->
          <div class="col-md-6">
              <section class="mb-4">
                  <h2 class="text-uppercase">Suivez-nous</h2>
                  <div class="btn-group">
                      <a href="https://fr-fr.facebook.com/" target="_blank" class="btn btn-social btn-facebook me-2">
                          <i class="fab fa-facebook" style="color: #b082fe;"></i> Facebook
                      </a>
                      <a href="https://www.instagram.com" target="_blank" class="btn btn-social btn-instagram me-2">
                          <i class="fab fa-instagram" style="color: #b082fe;"></i> Instagram
                      </a>
                      <a href="https://www.tiktok.com/fr" target="_blank" class="btn btn-social btn-tiktok me-2"  >
                          <i class="fab fa-tiktok" style="color: #b082fe;"></i> TikTok
                      </a>
                  </div>
              </section>
          </div>
      </div>

      <!-- Informations sur le copyright (au milieu des deux colonnes) -->
      <div class="text-center p-3">
          <p>&copy; 2023 A6MINO</p>
          <a href="/views/status.html" class="btn btn-link text-white">Consultez les statuts</a>
        </div>
  </div>
</footer>
    <script src="/js/script.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/color.js"></script>

  </body>
</html>
